<div class="container">
	<div class="row">  
      <!--h1 class="heading">decentralized sensor data trading </h1--> 
     <h1 class="heading">Decentralized sensor data trading network using Hyperledger Composer</h1>
  </div> 

  <div class="row">
    <br>
  </div> 

  <div class="row bodytext">      
      <!--h3>Welcome to Decentralized Sensor data Trading using Hyperledger Composer!</h3-->      
      <div class="col-md-12">
        <p class=""> This Blockchain application demonstrates sensor data sharing on a network among 'Sellers' on a grid. The sensor data trade is based on exchanging coins for sensor data provided. The network also includes 'Buyers' to trade sensor data with or obtain sensor data from, and 'Exchange' to exchange cash (fiat money) for coins.  </p>
        <p class=""> Find more detail <a [routerLink]="['/About']" > about the application. </a> </p>

      </div>
    </div> 
</div>
