<div class="modal fade" id="addAssetModal" tabindex="-1" role="dialog" aria-labelledby="addAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAssetModalLabel">Add Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          

            
              <div class="form-group text-left">
                <label for="weatherForecastId">weatherForecastId</label>
                
                  <input formControlName="weatherForecastId" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="location">location</label>
                
                  <input formControlName="location" type="text" class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="datetime">datetime</label>
                
                  <input formControlName="datetime" type="text" class="form-control">
                
              </div>
            
          

            
              <label for="tempUnit">tempUnit</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="tempUnit"
                      
                      name="tempUnit"
                      value="CELSIUS"
                      type="radio"
                      
                    />
                    CELSIUS
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="tempUnit"
                      
                      name="tempUnit"
                      value="FAHRENHEIT"
                      type="radio"
                      
                    />
                    FAHRENHEIT
                  </label>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="tempTomorrow">tempTomorrow</label>
                
                  <input formControlName="tempTomorrow" type="number" step='any' class="form-control">
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="humidityTomorrow">humidityTomorrow</label>
                
                  <input formControlName="humidityTomorrow" type="number" class="form-control">
                
              </div>
            
          

            
              <label for="conditionTomorrow">conditionTomorrow</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="SUNNY"
                      type="radio"
                      
                    />
                    SUNNY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="CLOUDY"
                      type="radio"
                      
                    />
                    CLOUDY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="MOSTLY_CLOUDY"
                      type="radio"
                      
                    />
                    MOSTLY_CLOUDY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="PARTLY_CLOUDY"
                      type="radio"
                      
                    />
                    PARTLY_CLOUDY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="RAINY"
                      type="radio"
                      
                    />
                    RAINY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="SNOWY"
                      type="radio"
                      
                    />
                    SNOWY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="WINDY"
                      type="radio"
                      
                    />
                    WINDY
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="THUNDER"
                      type="radio"
                      
                    />
                    THUNDER
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="BLIZZARD"
                      type="radio"
                      
                    />
                    BLIZZARD
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="conditionTomorrow"
                      
                      name="conditionTomorrow"
                      value="STORM"
                      type="radio"
                      
                    />
                    STORM
                  </label>
                
              </div>
            
          

            
              <label for="status">status</label>
              <div class="checkbox">
                
                  <label>
                    <input
                      
                        formControlName="status"
                      
                      name="status"
                      value="FOR_SALE"
                      type="radio"
                      
                    />
                    FOR_SALE
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="status"
                      
                      name="status"
                      value="SOLD"
                      type="radio"
                      
                    />
                    SOLD
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="status"
                      
                      name="status"
                      value="PROCESSED"
                      type="radio"
                      
                    />
                    PROCESSED
                  </label>
                
                  <label>
                    <input
                      
                        formControlName="status"
                      
                      name="status"
                      value="FORWARDED"
                      type="radio"
                      
                    />
                    FORWARDED
                  </label>
                
              </div>
            
          

            
              <div class="form-group text-left">
                <label for="owner">owner</label>
                
                    <textarea formControlName="owner" class="form-control" rows="3"></textarea>
                
              </div>
            
          

        </div>
        <div class="modal-footer">
          <button (click)="addAsset(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateAssetModalLabel">Update Asset</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">


          
            <div class="form-group text-left">
              <label for="weatherForecastId">weatherForecastId</label>

              
                <input [ngModel]="weatherForecastId"formControlName="weatherForecastId" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="location">location</label>

              
                <input [ngModel]="location"formControlName="location" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="datetime">datetime</label>

              
                <input [ngModel]="datetime"formControlName="datetime" type="text" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="tempUnit">tempUnit</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="tempUnit"
                            [ngModel]="tempUnit"
                          
                          name="tempUnit"
                          value="CELSIUS"
                          type="radio"
                          
                        />
                        CELSIUS
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="tempUnit"
                            [ngModel]="tempUnit"
                          
                          name="tempUnit"
                          value="FAHRENHEIT"
                          type="radio"
                          
                        />
                        FAHRENHEIT
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="tempTomorrow">tempTomorrow</label>

              
                <input [ngModel]="tempTomorrow" formControlName="tempTomorrow" type="number" step='any' class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="humidityTomorrow">humidityTomorrow</label>

              
                <input [ngModel]="humidityTomorrow" formControlName="humidityTomorrow" type="number" class="form-control">
              

            </div>
          
            <div class="form-group text-left">
              <label for="conditionTomorrow">conditionTomorrow</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="SUNNY"
                          type="radio"
                          
                        />
                        SUNNY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="CLOUDY"
                          type="radio"
                          
                        />
                        CLOUDY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="MOSTLY_CLOUDY"
                          type="radio"
                          
                        />
                        MOSTLY_CLOUDY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="PARTLY_CLOUDY"
                          type="radio"
                          
                        />
                        PARTLY_CLOUDY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="RAINY"
                          type="radio"
                          
                        />
                        RAINY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="SNOWY"
                          type="radio"
                          
                        />
                        SNOWY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="WINDY"
                          type="radio"
                          
                        />
                        WINDY
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="THUNDER"
                          type="radio"
                          
                        />
                        THUNDER
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="BLIZZARD"
                          type="radio"
                          
                        />
                        BLIZZARD
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="conditionTomorrow"
                            [ngModel]="conditionTomorrow"
                          
                          name="conditionTomorrow"
                          value="STORM"
                          type="radio"
                          
                        />
                        STORM
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="status">status</label>

              
                
                  <div class="row">
                    <div class="col-xs-12 checkbox">
                    
                      <label>
                        <input
                          
                            formControlName="status"
                            [ngModel]="status"
                          
                          name="status"
                          value="FOR_SALE"
                          type="radio"
                          
                        />
                        FOR_SALE
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="status"
                            [ngModel]="status"
                          
                          name="status"
                          value="SOLD"
                          type="radio"
                          
                        />
                        SOLD
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="status"
                            [ngModel]="status"
                          
                          name="status"
                          value="PROCESSED"
                          type="radio"
                          
                        />
                        PROCESSED
                      </label>
                    
                      <label>
                        <input
                          
                            formControlName="status"
                            [ngModel]="status"
                          
                          name="status"
                          value="FORWARDED"
                          type="radio"
                          
                        />
                        FORWARDED
                      </label>
                    
                    </div>
                  </div>
                
              

            </div>
          
            <div class="form-group text-left">
              <label for="owner">owner</label>

              
                
                  <textarea [ngModel]="owner" formControlName="owner" class="form-control" rows="3"></textarea>
                
              

            </div>
          


        </div>
        <div class="modal-footer">
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteAssetModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAssetModalLabel">Delete Asset</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteAsset()">
        <div class="modal-body">
          Are you sure you want to delete this asset?
        </div>
        <div class="modal-footer">
          <button (click)="deleteAsset()" type="submit" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </form>
    </div>
  </div>
</div>











<div class="container">
	<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <h1 id='assetName'>WeatherForecast</h1>
  <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addAssetModal">Add Asset</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-striped">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">weatherForecastId</th>
            
                <th class="info">location</th>
            
                <th class="info">datetime</th>
            
                <th class="info">tempUnit</th>
            
                <th class="info">tempTomorrow</th>
            
                <th class="info">humidityTomorrow</th>
            
                <th class="info">conditionTomorrow</th>
            
                <th class="info">status</th>
            
                <th class="info">owner</th>
            
              <th class="info">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of allAssets">

            
                <td>{{asset.weatherForecastId}}</td>
            
                <td>{{asset.location}}</td>
            
                <td>{{asset.datetime}}</td>
            
                <td>{{asset.tempUnit}}</td>
            
                <td>{{asset.tempTomorrow}}</td>
            
                <td>{{asset.humidityTomorrow}}</td>
            
                <td>{{asset.conditionTomorrow}}</td>
            
                <td>{{asset.status}}</td>
            
                <td>{{asset.owner}}</td>
            
            <td>
              <button (click)="getForm(asset.weatherForecastId);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateAssetModal">Update Asset</button>

              <button (click)="setId(asset.weatherForecastId);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAssetModal">Delete Asset</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
