<div class="container">
  <div class="row">
      <p>
        The idea is to decentralize the trade of sensor data, in fact air quality data and/or current weather data. Anyone who has qualified as a participant in the business network (seller, buyer, exchange or data consumer) may participate in the trade. Sellers provide sensor data on air quality and/or weather data. Accordingly, buyers purchase these data against utility tokens. The utility tokens can be exchanged for money at the Exchange. In this case, the sellers can be measuring stations or private persons or households that have sensors that are tailored for data collection.
        </p>
      <p>
        This use case explicitly assumes that the sellers are private individuals who meet certain requirements for the trading network. Buyers are, for example, state-controlled companies or research centres that control air quality and/or analyse weather data for different regions and make the resulting weather forecasts available to data consumers. The data consumer can be a government or national/international organization or even other service providers. The data consumer can be, for example, a smart navigation system, a travel agent or other smart systems that require reliable analysis of sensor data for specific regions. The Exchange trades with both sellers and buyers by exchanging the tokens for money or money for tokens. Exchange is part of this ecosystem, but has no access to sensor data.
      </p>
      <p>
        The use case is shown in simplified form below.
      </p>
  </div>

  <div class="row">
    <br>
  </div>
<p align="center">
  <img width="700" height="600" src="assets/Figure1.png">
</p>
</div>
